.Task {
  width: 100%;
  margin: 0.75rem auto 0;
  padding: 1rem 0;
  border-radius: 8px;

  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;

  background-color: var(--primary-400);
}

.Task span {
  text-align: left;
  width: 39.5rem;
  height: auto;
  line-height: 140%;
  font-size: var(--md);
}

.Task .doneText {
  text-decoration: line-through;
  color: var(--primary-300);

  transition: color 0.2s;
}

.Task .defaultText{
  text-decoration: none;
  color: var(--primary-100);

  transition: color 0.2s;
}


.Task button {
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;
  outline: 0;
  box-shadow: 0 0 0 0;
  border: none;
  cursor: pointer;
}

.Task .checkedButton {
  color: var(--tertiary-600);
  z-index: 1;

  transition: color 0.3s;
}

.Task .checkedButton:hover {
  color: var(--tertiary-500);
}

.uncheckedButton {
  background-color: transparent;
  color: var(--secondary-500);
  z-index: 1;

  transition: color 0.3s;
}

.uncheckedButton:hover {
  color: var(--secondary-600);

  transition: color 0.3s;
}

.shadow {
  position: absolute;
  border-radius: 100%;
  background-color: transparent;
  opacity: 1;
  z-index: 0;

  transition: background-color 0.3s opacity 0.3s;
}

.uncheckedButton:hover + .shadow{
  background-color: var(--secondary-600);
  opacity: 0.4;

  transition: background-color 0.3s, opacity 0.3s;
}

.Task .delete {
  color: var(--primary-300);

  transition: color 0.3s;
}


.Task .delete:hover {
  color: var(--danger);
}
