.input{
  background-color: var(--primary-500);
  width: 39.875rem;
  height: 3.375rem; 
  border-radius: 8px;
  border: none;
  padding: 1rem;
  font-size: var(--lg);
  color: var(--primary-100);
}

.input::placeholder {
color: var(--primary-300);
}

.input:focus{
  outline: transparent;
  box-shadow: 0 0 0 1px var(--tertiary-600);
}
