.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskArea {
  width: 46rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.75rem;
}

.taskAreaHeader {
  background-color: transparent;
  width: 46rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

.TaskCreator{
  margin-top: -1.6875rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
