.taskArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.75rem;
}

.taskAreaHeader {
  background-color: burlywood;
  width: 736px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}